 
#Home{
    background-color: rgb(255,255,255);
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
   
}

.navbar {
 display: flex;
 margin-left: 5%;
 padding-top: 2%;
 
 
}
.main img{
    width: 9%;
    margin-left: -4%;
}
.text1 h4{
  margin-left: -770%;
  margin-top: 3%;

}
nav a{
    text-decoration: none;
   padding-inline: 3%;
    margin-left: -75%;
   
 
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.Button1 button{
    background-color: rgb(78, 78, 241);
    margin-top: -20%;
    border-radius: 35px;
    width: 65px;
    height: 5vh;
    
}

.Button{
 background-color: rgb(77, 223, 223);
 border-radius: 30px;
 margin-left: 5%;
 width: 12%;
 height: 8vh;   
   
}


.Button3 Button{
    background-color: rgb(231, 231, 243);
    margin-left: 15%;
    /* margin-top: -60%;
    margin-bottom: -90%; */
    margin-top: -29%;
   
   
}
.icon1{
    margin-top: 10%;
    font-size: x-large;
}
.page1{
  border: 2% solid rgb(247, 225, 194);
  border-radius: 5%;  
}
.photo1 img{
   margin-top: -100%;
   margin-left: 50%;
   margin-bottom: 10%;
}
.photo2 img{
  margin-left: 50%;
  margin-top: -200%;
  margin-bottom: 17%;
  height: 80vh;

}
.paragraph h1{
   font-size: 300%; 
   margin-left: 5%;
   margin-top: 15%;
   
}
.paragraph{
    margin-top: -12%;
}
.paragraph p{
    font-size:110% ;
    margin-left: 5%;
  
   
}
.page1{
    display: flex;
    margin-left: 5%;
    margin-bottom: -5%;
    margin-top: 1%;
    padding: 1%;
}
.icons{
  display: flex; 
 padding-inline: 10%;
 font-size: 24px;
 margin-left: 5%;

}
.box1{
background-color: rgb(244, 244, 245);
height: 10vh;
width: 16vw;
padding: 2%;
margin: 5px;
text-align: center;

}
.box2{
    background-color: rgb(244, 244, 245);
    height: 10vh;
    width: 16vw;
    padding: 2%;
    margin: 5px;
    text-align: center; 
}
.box3{
    background-color: rgb(244, 244, 245);
    height: 10vh;
    width: 16vw;
    padding: 2%;
    margin: 5px;
    text-align: center;  
}
.serv{
    display: flex;
    margin-left: 45%;
}
.text3{
 margin-left: 43%;
 margin-top: -2%;
}
.photo3 img{
    height: 37%;
    width: 12%;
    padding-top: 3%;
    /* margin-left: 35%; */
}
.page2{
    display: flex;
    margin-left: 4%;
    padding: 5%;
    margin-top: -6%;

}
.Design{
    background-color:rgb(245,249,250);
    font-size: 120%;
    padding: 5%;
}
.develop{
    background-color: rgb(67,161,145);
    padding: 5%;
    font-size:120% ;
}
.market{
    background-color: rgb(234,246,254);
    padding: 5%;
    font-size: 120%;
}
#setting{
    color: rgb(255, 255, 250);
    background-color: rgb(240, 217, 11);
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.one{
    background-color: aqua;
   
    border-radius: 30%;
}
.two{
    background-color:rgb(81,133,250);
    border-radius: 30%;
}
.three{
    background-color:rgb(252,190,49);
    border-radius: 30%;
}
 .p1{
     font-size: 140%;
 }
 .p2{
     font-size: 140%;
 }  
 .p3{
    font-size: 140%;  
 }
.project{
    display: flex;
   margin-left: 10%;
   margin-top: -10%;
}
.serve{
    padding: 15%;
}
 .serve h1{
     font-size: 240%;
 }

 .sign1{
    margin-left: 25%;
 }
 .text4{
  font-size: 180%;   
 }
 .par1 p{
     font-size: 130%;
 }
.Hold{
 height: 9vh; 
 width: 30vw; 
 background-color: rgb(8, 75, 161);
 border-radius: 24px; 
 border: 1px rgb(8, 75, 161)  ;
}
.box{
  margin-left: 10%;  
}
.Button4{
    height: 9vh; 
    width: 16vw;
    background-color: rgb(42, 240, 240);
    border-radius:24px ; 
    border: 1px  rgb(42, 240, 240) ;
    margin-left: -25%;   
}
.cont{
  margin-left: 11%;
  /* margin-top: -4%;   */
}
.cont h5{
  font-size:90%; 
  margin-top: -30%;
  margin-bottom: 0%; 
}
.cont h2{
  font-size: 220%;
  margin-top: 3%;

}
.picture1{
    margin-left: 47%;
}
.picture2{
   margin-left: 50%;
   height: 20%;
   margin-top: -54%;
  
}
.Button5{
  background-color: rgb(31, 230, 163);
 height: 7vh;
 border-radius: 20px;
margin-bottom: -40%;
margin-left: 15%;
margin-top: 2%;

}
 .fullname{
 padding: 1%;
 width: 30%;    
 }
 .message{
  padding:1%; 
  width:30% ;
 height: 9vh;
 }
 #Contact{
   background-color: rgb(249, 253, 253); 
  

 }
 #Signup{
 background-color:rgb(255,255,255);
 margin-top: -3%;
 }
